body {
  font-family: 'Indie Flower', cursive;
  background: url(../img/postit.jpg) center top;
  color: #4d4d4d;
}

.form1 {
  margin: -30px auto;
}

.wrapper {
  margin:80px auto;
  width: 1000px;
  text-align: center;
}

.wrapper ul {
  text-align: left;
  margin-left: 64px;
  margin-top: 30px;
}

.wrapper li {
  list-style: none;
  padding-bottom: 1.4px;
}

button {
    display: inline;
    vertical-align: middle;
    border:none;
    background:none;
}

.fa-plus-circle {
  color: #4d4d4d;
}

.fa-beer {
    color: green;
}

.fa-clock-o {
    color: red;
}

p {
    display: inline;
    vertical-align: middle;
}
